*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/*COLORS
#2d3142  dark
#bfc0c0 light
#ef8354 orange
#4f5d75 blue

*/
body {
  font-family: "Goldman";
  background-color: #4f5d75;
}

.navbar {
  overflow: hidden;
  height: 63px;
  position: relative;
}

.navbar .open-slide {
  position: fixed;
  z-index: 1;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.navbar ul {
  display: none;
  margin: 8px;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2d3142;
  opacity: 0.9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 50px;
  overflow-x: hidden;
}

.side-nav ul li {
  margin-top: -40px;
}

.side-nav ul li span {
  position: relative;
  top: 50px;
  left: -10px;
  font-size: 30px;
  font-weight: 500;
  color: transparent;
}

.side-nav ul li a {
  padding: 10px 10px 10px 20px;
  font-size: 25px;
  color: #4f5d75;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.side-nav .btn-close {
  color: #f2f2f2;
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 2;
}

.side-nav ul li:hover span {
  color: #ef0448;
}

.side-nav ul li a::before {
  content: attr(data-text);
  position: absolute;
  overflow-y: hidden;
  color: #f2f2f2;
  white-space: nowrap;
  overflow: hidden;
}

.side-nav ul:hover li a::before {
  -webkit-animation: animate 0.5s steps(8) forwards;
          animation: animate 0.5s steps(8) forwards;
}

@-webkit-keyframes animate {
  0% {
    width: 114.436px;
  }
  100% {
    width: 0;
  }
}

@keyframes animate {
  0% {
    width: 114.436px;
  }
  100% {
    width: 0;
  }
}

.side-nav ul li:hover a::before {
  -webkit-animation: animateTwo 1s steps(8) forwards;
          animation: animateTwo 1s steps(8) forwards;
}

@-webkit-keyframes animateTwo {
  0% {
    width: 0;
  }
  100% {
    width: 114.436px;
  }
}

@keyframes animateTwo {
  0% {
    width: 0;
  }
  100% {
    width: 114.436px;
  }
}

#main {
  margin: 0;
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  padding: 0px;
  position: absolute;
  top: 0;
}

#main .home .home-content {
  background-color: #2d3142;
  background-image: url("/images/headerBg2Dark.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main .home .home-content .home-items {
  position: absolute;
  right: 40px;
  top: 20%;
}

#main .home .home-content .home-items .btn-more {
  text-align: end;
}

#main .home .home-content .home-items .btn-more a {
  background-color: #ef8354;
  padding: 10px 30px;
  color: #f2f2f2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 18px;
}

#main .home .home-content .home-items .home-title h1 {
  text-align: end;
  color: #ef8354;
  font-weight: 400;
  font-size: 35px;
  border-bottom-color: #f2f2f2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 1em;
}

#main .home .home-content .home-items .home-text {
  width: 700px;
}

#main .home .home-content .home-items .home-text p {
  font-family: "Nunito";
  font-size: 24px;
  color: #f2f2f2;
  text-align: right;
}

#main .about {
  display: block;
}

#main .about h1 {
  margin-right: 20px;
  text-align: end;
  color: #ef8354;
  font-weight: 400;
}

#main .about .about-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main .about .about-content .about-items {
  width: 33%;
  display: block;
}

#main .about .about-content .about-items .about-social {
  text-align: center;
  margin: 0 auto;
  display: block;
}

#main .about .about-content .about-items .about-social .sci {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
}

#main .about .about-content .about-items .about-social .sci li {
  margin-left: 20px;
}

#main .about .about-content .about-items .about-social .sci li a {
  text-align: center;
  font-size: 40px;
  color: #f2f2f2;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#main .about .about-content .about-items .about-image {
  margin: 20px auto;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  max-width: 220px;
}

#main .about .about-content .about-items .about-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#main .about .about-content .about-text {
  width: 67%;
  margin-right: 20px;
}

#main .about .about-content .about-text p {
  font-family: "Nunito";
  font-size: 18px;
  text-align: right;
  color: #f2f2f2;
}

#main .services .services-title h1 {
  margin-right: 20px;
  text-align: end;
  color: #ef8354;
  font-weight: 400;
}

#main .services .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 1rem;
  justify-items: center;
}

#main .services .skills .flip-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  width: 250px;
  height: 250px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#main .services .skills .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#main .services .skills .flip-card .flip-card-inner .flip-card-front {
  background-color: #bbb;
  color: black;
}

#main .services .skills .flip-card .flip-card-inner .flip-card-front img {
  -o-object-fit: cover;
     object-fit: cover;
}

#main .services .skills .flip-card .flip-card-inner .flip-card-back {
  background-color: #2d3142;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#main .services .skills .flip-card .flip-card-inner .flip-card-back h1 {
  color: #ef8354;
  text-align: center;
}

#main .about .about-content .about-items .about-social .sci li:first-child {
  margin-left: 0;
}

#main .about .about-content .about-items .about-social .sci li a:hover {
  opacity: 1;
}

#main .home .home-content .home-items .btn-more a:hover {
  background-color: #f2f2f2;
  color: #2d3142;
}

#main .services .skills .flip-card:last-child {
  margin-right: 0;
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.contact {
  display: block;
}

.contact .contact-title h1 {
  color: #ef8354;
  font-weight: 400;
  text-align: end;
  margin-right: 20px;
}

.contact .contact-content .contact-form form {
  width: 60%;
  margin: 0 auto;
  font-family: "Nunito";
}

.contact .contact-content .contact-form form h2 {
  text-align: center;
  color: #f2f2f2;
  font-weight: 700;
}

.contact .contact-content .contact-form form .input-box {
  text-align: center;
}

.contact .contact-content .contact-form form .input-box textarea {
  font-family: "Nunito";
  width: 100%;
  height: 200px;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.contact .contact-content .contact-form form .about-you {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact-content .contact-form form .about-you .input-box {
  width: 100%;
  margin-left: 20px;
}

.contact .contact-content .contact-form form .about-you .input-box input {
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  border: none;
  font-size: 18px;
  padding-left: 20px;
}

.contact .contact-content .contact-form form .about-you .input-box:first-child {
  margin-left: 0;
}

.contact .contact-content .contact-form form .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact-content .contact-form form .sub .contact-btn {
  width: 100%;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact-content .contact-form form .sub .contact-btn .submit-button input {
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 30px;
  background-color: #ef8354;
  border: none;
  color: #f2f2f2;
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Goldman";
}

.contact .contact-content .contact-form form .sub .contact-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact-content .contact-form form .sub .contact-social .sci {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact-content .contact-form form .sub .contact-social .sci li {
  margin-left: 20px;
}

.contact .contact-content .contact-form form .sub .contact-social .sci li a {
  text-align: center;
  font-size: 36px;
  color: #f2f2f2;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact .contact-content .contact-form form .contact-btn .sci li a:hover {
  opacity: 1;
}

.contact .contact-content .contact-form form .contact-btn .submit-button input:hover {
  background-color: #f2f2f2;
  color: #2d3142;
}

footer {
  background-color: #2d3142;
  z-index: 3;
}

footer h1 {
  margin: 0;
  text-align: center;
  color: #f2f2f2;
  font-size: 16px;
  padding: 20px 0;
}

@media (max-width: 1050px) {
  #main .home .home-content .home-items .home-title h1 {
    font-size: 28px;
    border: none;
  }
  #main .home .home-content .home-items .home-text {
    width: auto;
    height: auto;
  }
  #main .home .home-content .home-items .home-text p {
    font-size: 18px;
  }
  #main .services .skills {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #main .about .about-content {
    display: block;
  }
  #main .about .about-content .about-items {
    width: 100%;
  }
  #main .about .about-content .about-items .about-image {
    width: 200px;
    margin: 0 auto;
  }
  #main .about .about-content .about-text {
    width: 100%;
  }
  #main .about .about-content .about-text p {
    padding: 0 30px;
    text-align: center;
  }
  .contact .contact-content .contact-form form {
    width: 80%;
  }
  .contact .contact-content .contact-form form .about-you {
    display: block;
  }
  .contact .contact-content .contact-form form .about-you .input-box {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 960px) {
  #main .home .home-content .home-items .home-title h1 {
    font-size: 28px;
    border: none;
  }
  #main .home .home-content .home-items .home-text {
    max-width: 600px;
  }
  #main .home .home-content .home-items .home-text p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  #main .services .skills {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #side-menu {
    width: 100vw;
  }
}

@media (max-width: 450px) {
  #main .contact .contact-form form {
    display: block;
  }
  #main .contact .contact-form form sub {
    display: block;
  }
  #main .contact .contact-form form sub .contact-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #main .contact .contact-form form sub .contact-social .sci {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
