// RESET ===========

*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	margin: 0;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	display: block;
}

/*COLORS
#2d3142  dark
#bfc0c0 light
#ef8354 orange
#4f5d75 blue

*/

// RESET END ===========

body {
	font-family: "Goldman";
	background-color: #4f5d75;
}

.navbar {
	overflow: hidden;
	height: 63px;
	position: relative;
	.open-slide {
		position: fixed;
		z-index: 1;
	}
	a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		font-size: 17px;
	}
	ul {
		display: none;
		margin: 8px;
	}
}

.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #2d3142;
	opacity: 0.9;
	transition: 0.5s;
	padding-top: 50px;
	overflow-x: hidden;
	ul {
		li {
			margin-top: -40px;
			span {
				position: relative;
				top: 50px;
				left: -10px;
				font-size: 30px;
				font-weight: 500;
				color: transparent;
			}
			a {
				padding: 10px 10px 10px 20px;
				font-size: 25px;
				color: #4f5d75;
				display: block;
				transition: 0.3s;
				position: relative;
			}
		}
	}

	.btn-close {
		color: #f2f2f2;
		position: absolute;
		top: 0;
		right: 22px;
		font-size: 36px;
		margin-left: 50px;
		z-index: 2;
	}
}
.side-nav ul li:hover span {
	color: #ef0448;
}

.side-nav ul li a::before {
	content: attr(data-text);
	position: absolute;
	overflow-y: hidden;
	color: #f2f2f2;
	white-space: nowrap;
	overflow: hidden;
}

.side-nav ul:hover li a::before {
	animation: animate 0.5s steps(8) forwards;
}

@keyframes animate {
	0% {
		width: 114.436px;
	}
	100% {
		width: 0;
	}
}

.side-nav ul li:hover a::before {
	animation: animateTwo 1s steps(8) forwards;
}

@keyframes animateTwo {
	0% {
		width: 0;
	}
	100% {
		width: 114.436px;
	}
}

#main {
	margin: 0;
	transition: margin-left 0.5s;
	padding: 0px;
	position: absolute;
	top: 0;
	.home {
		.home-content {
			background-color: #2d3142;
			background-image: url("/images/headerBg2Dark.jpg");

			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			height: 100vh;
			display: flex;
			position: relative;
			justify-content: space-between;

			.home-items {
				.btn-more {
					text-align: end;
					a {
						background-color: #ef8354;
						padding: 10px 30px;
						color: #f2f2f2;
						transition: 0.5s;
						font-size: 18px;
					}
				}

				position: absolute;
				right: 40px;
				top: 20%;
				.home-title {
					h1 {
						text-align: end;
						color: #ef8354;
						font-weight: 400;
						font-size: 35px;
						border-bottom-color: #f2f2f2;
						border-bottom-width: 1px;
						border-bottom-style: solid;
						padding-bottom: 1em;
					}
				}
				.home-text {
					//right: 0;
					width: 700px;
					p {
						font-family: "Nunito";
						font-size: 24px;
						color: #f2f2f2;
						text-align: right;
					}
				}
			}
		}
	}
	.about {
		display: block;
		h1 {
			margin-right: 20px;
			text-align: end;
			color: #ef8354;
			font-weight: 400;
		}
		.about-content {
			align-items: center;
			display: flex;
			justify-content: space-between;
			.about-items {
				width: 33%;
				display: block;
				.about-social {
					text-align: center;
					margin: 0 auto;
					display: block;
					.sci{
						display: inline-flex;
						
						padding: 0;
						
						li {
							margin-left: 20px;
							
							a {
								text-align: center;
								font-size: 40px;
								color: #f2f2f2;
								opacity: 0.5;
								transition: 0.5s;
							}
					}
					
					}
				}
				.about-image {
					margin: 20px auto;
					border-radius: 50%;
					display: block;

					overflow: hidden;
					max-width: 220px;

					img {
						width: 100%;

						object-fit: cover;
					}
				}
			}

			.about-text {
				width: 67%;
				margin-right: 20px;
				p {
					font-family: "Nunito";
					font-size: 18px;

					text-align: right;
					color: #f2f2f2;
				}
			}
		}
	}

	.services {
		.services-title {
			h1 {
				margin-right: 20px;
				text-align: end;
				color: #ef8354;
				font-weight: 400;
			}
		}

		.skills {
			display: grid;
			grid-template-columns: auto auto auto;
			grid-gap: 1rem;
			//display: flex;
			justify-items: center;
			.flip-card {
				//margin-right: 15px;
				display: flex;
				background-color: transparent;
				width: 250px;
				height: 250px;
				perspective: 1000px;
				.flip-card-inner {
					position: relative;
					width: 100%;
					height: 100%;
					text-align: center;
					transition: transform 0.6s;
					transform-style: preserve-3d;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
					.flip-card-front {
						background-color: #bbb;
						color: black;
						img {
							object-fit: cover;
						}
					}
					.flip-card-back {
						h1 {
							color: #ef8354;
							text-align: center;
						}
						background-color: #2d3142;
						color: white;
						transform: rotateY(180deg);
					}
				}
			}
		}
	}
}

#main .about .about-content .about-items .about-social .sci li:first-child{
	margin-left: 0;
}

#main .about .about-content .about-items .about-social .sci li a:hover{
	opacity: 1;
}

#main .home .home-content .home-items .btn-more a:hover {
	background-color: #f2f2f2;
	color: #2d3142;
}
#main .services .skills .flip-card:last-child {
	margin-right: 0;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.contact {
	display: block;
	.contact-title {
		h1 {
			color: #ef8354;
			font-weight: 400;
			text-align: end;
			margin-right: 20px;
		}
	}
	.contact-content {
		.contact-form {
			form {
				width: 60%;
				margin: 0 auto;
				font-family: "Nunito";
				h2 {
					text-align: center;
					color: #f2f2f2;
					font-weight: 700;
				}
				.input-box {
					text-align: center;
					textarea {
						font-family: "Nunito";
						width: 100%;
						height: 200px;
						font-size: 18px;
						padding-top: 10px;
						padding-left: 20px;
						background-color: #f2f2f2;
					}
				}
				.about-you {
					display: flex;
					.input-box {
						width: 100%;
						margin-left: 20px;
						input {
							width: 100%;
							height: 50px;
							background-color: #f2f2f2;
							border: none;
							font-size: 18px;
							padding-left: 20px;
						}
					}
					.input-box:first-child {
						margin-left: 0;
					}
				}
				.sub{
					display: flex;
					.contact-btn {
						width: 100%;
						display: block;
						justify-content: space-between;
						.submit-button {
							input {
								cursor: pointer;
								margin-top: 30px;
								padding: 10px 30px;
								background-color: #ef8354;
								border: none;
								color: #f2f2f2;
								font-size: 18px;
								transition: 0.5s;
								font-family: "Goldman";
							}
						}
						
						
					}
					.contact-social{
						display: flex;
						.sci {
							margin-top: 25px;
							display: flex;
							li {
								margin-left: 20px;
								a {
									text-align: center;
									font-size: 36px;
									color: #f2f2f2;
									opacity: 0.5;
									transition: 0.5s;
								}
							}
						}
					}
				}
				
			}
		}
	}
}
.contact .contact-content .contact-form form .contact-btn .sci li a:hover {
	opacity: 1;
}
.contact .contact-content .contact-form form .contact-btn .submit-button input:hover {
	background-color: #f2f2f2;
	color: #2d3142;
}
footer {
	h1 {
		margin: 0;
		text-align: center;
		color: #f2f2f2;
		font-size: 16px;
		padding: 20px 0;
	}
	background-color: #2d3142;
	z-index: 3;
}

@media (max-width: 1050px) {
	#main {
		.home {
			.home-content {
				.home-items {
					.home-title {
						h1 {
							font-size: 28px;
							border: none;
						}
					}
					.home-text {
						width: auto;
						height: auto;
						p {
							font-size: 18px;
						}
					}
				}
			}
		}
		.services {
			.skills {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		.about {
			.about-content {
				display: block;
				.about-items{
					width: 100%;
					.about-image {
						width: 200px;
						margin: 0 auto;
					}
				}
				
				.about-text {
					width: 100%;
					p {
						padding: 0 30px;
						text-align: center;
					}
				}
			}
		}
	}
	.contact {
		.contact-content {
			.contact-form {
				form {
					width: 80%;
					.about-you {
						display: block;
						.input-box {
							margin-top: 20px;
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 960px) {
	#main {
		.home {
			.home-content {
				.home-items {
					.home-title {
						h1 {
							font-size: 28px;
							border: none;
						}
					}
					.home-text {
						max-width: 600px;
						p {
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	#main {
		.services {
			.skills {
				grid-template-columns: 1fr;
			}
		}
	}
	#side-menu {
		width: 100vw;
	}
}
@media (max-width: 450px) {
	#main {
		.contact{
			.contact-form{
				form{
					display: block;
					sub{
						display: block;
						.contact-social{
							display: flex;
							.sci{
								display: flex;
							}
						}
					}

				}
			}
		}
	}
}